
.header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.popup-form {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


@media (max-width: 576px) {
    .header {
        font-size: 1.5rem;
    }

    .popup-form {
        width: 90%;
        margin: 0 auto;
    }
}


@media (min-width: 768px) {
    .header {
        font-size: 2rem;
    }

    .popup-form {
        width: 70%;
        margin: 0 auto;
    }
}


@media (min-width: 992px) {
    .popup-form {
        width: 50%;
        margin: 0 auto;
    }
}


@media (min-width: 1200px) {
    .popup-form {
        width: 40%;
        margin: 0 auto;
    }
    .last-transactions {
        margin-top: 20px;
    }
    
    .last-transactions h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    
    .transaction-item {
        overflow: auto;
        margin-bottom: 10px;
        border: 1px solid #cccccc;
        padding: 10px;
    }
    
    .transaction-amount {
        float: right;
        font-weight: bold;
    }
}
